:root {
  --bgColor-primary: rgba(33, 36, 55, 255);
  --bgColor-secondary: rgba(17, 20, 29, 255);
  --bgColor-loading: #333333;

  --color-primary: rgb(222, 219, 219);
  --color-secondary: rgb(6, 130, 179);

  --margin-normal: 30px;
  --margin-small: 20px;
  --margin-smaller: 10px;

  --font-size-large: clamp(1.5rem, 2vw, 2rem);
  --font-size-normal: clamp(0.9rem, 2vw, 1.1rem);
  --font-size-small: clamp(0.5rem, 2vw, 0.9rem);

  --border-radius-normal: 5px;
  --border-radius-small: 3px;

  --laptop-screen: 1200px;
  --tablet-screen: 800px;
}